<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Python vagas</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>
        {% include 'includes/navbar.html' %}
    <div class="container">
        <h1 class="text-center mt-2 mb-2">Python - vagas</h1>
        <img class="img-fluid" src="{{ url_for('static', filename='carreira.jpg') }}"/>
        <h2 class="text-center mt-2">Sobre o site</h2>
        <p class="lead">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        <h2 class="text-center">Vagas Abertas</h2>
        <p>
            {% for vaga in vagas %}
            {% include 'includes/vagas_item.html' %}
            {% endfor %}
        </p>
        <div class="text-center">
        <a href="mailto:someone@yoursite.com" class="btn btn-primary btn-lg">Entrar em contato</a>
        </div>
        </div>
        {% include 'includes/footer.html' %}
    </body>
</html>